<section>
    <div class="container mt-5 ">
    <div class="row">    
        {{#each products}} 
   <div class="col-md-3 p-3">
    <div class="card" style="width: 16rem;height: 25px;">
  <img class="card-img-top" src="/product-images/{{this._id}}.jpg" alt="Card image cap" style="height:13rem ;">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.category}}</p>
    <p class="card-text">{{this.price}}</p>
    <a href="#" class="btn btn-primary">Add to cart</a>
  </div>
</div>
   </div>
   {{/each}}
   </div>
</section>